body{
	margin-top: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
div{
	position: relative;
	overflow: hidden;
}
.track{
	width: 50%;
	background-color: gray;
	border-radius:10px;
}
.car{
	position: absolute;
	width: 50px;
	left: 400px;
	top: 112px;
	animation: travell 10s ease-in infinite forwards;
}
@keyframes travell{
	0%{
		transform: matrix(1,0,0,1,1,1);
	}

	100%{
		transform: matrix(1,0,0,1,835,486)
	}
}